@import 'base/var';
@import 'base/mixin';

* {
    font-family: 'Museo Sans Curl', sans-serif;
}

.container {
    width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/consult';
@import 'blocks/form';
@import 'blocks/media';
@import 'blocks/carousel';