.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.advantages {
    padding: 70px 0;
    background-color: #f6f6f6;
    min-height: 470px;

    &__wrapper {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        width: 240px;
        min-height: 240px;
    }

    &__title {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 28px;
        font-weight: 700;
    }

    &__text {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
    }

    &__link {
        color: $main-color;

        &:hover {
            color: rgb(0, 110, 64);
        }
    }
}