.consult {
    min-height: 680px;
    padding: 100px 0 90px 0;
    background: url('../../img/bg2.jpg') center center / cover no-repeat;

    .title {
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;

        &_consult {
            text-align: left;
            color: #fff;
        }
    }

    &__text {
        color: #fff;
        padding-top: 80px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
    }

}