.consult {
    min-height: 680px;
    padding: 100px 0 90px 0;
    background: url('../../img/bg2.jpg') center center / cover no-repeat;
    color: #fff;

    &__title {
        font-size: 36px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
    }

    &__text {
        padding-top: 80px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
    }

    &__form {
        margin-top: 36px;
    }

}